/*using this not change inner bg */
.inherit-bg > * {     
    @apply bg-inherit;
}

.inherit-all-bg *{
    @apply bg-inherit;
}


.red-gradient-text {
background: linear-gradient(96.31deg, #EE2C3C 18.58%, #C5135D 40.1%, #6A11B0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.smallRed-gradient-text {
background: linear-gradient(96.31deg, #EE2C3C 10.58%, #C5135D 10.1%, #6A11B0 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.button-shadow {
  box-shadow: 0px 12px 40px 0px rgba(190, 35, 48, 0.12); /* Your box shadow properties */
}

.Purple-gradient {
  background: linear-gradient(252.83deg, #c47bfd 0%, #6100dc 100%);
}


